<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:sws="http://www.springframework.org/schema/web-services"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/web-services
       http://www.springframework.org/schema/web-services/web-services-2.0.xsd">
  <context:component-scan base-package="com.mycompany.hr.ws"/>
  <sws:annotation-driven/>

  <!-- id指定了wsdl的名称，即holiday.wsdl -->
  <!-- locationUri指定了如何访问holiday.wsdl，它前面通常会加上上下文根目录： -->
  <!-- 通常访问形式是:http://localhost:8080/contextroot/holidayService/holiday.wsdl -->
  <!-- 还可以通过targetNamespace来配置命名空间，如果没有配置，则使用和xsd相同的命名空间 -->
  <sws:dynamic-wsdl id="holiday" portTypeName="HumanResource" locationUri="holidayService">
    <!-- 设置约束文件位置。约束文件用来生成对应的wsdl -->
    <sws:xsd location="classpath:configs/xmlfiles/hr.xsd"/>
  </sws:dynamic-wsdl>
</beans>